<mat-nav-list>

    <a mat-list-item routerLink="/">
        <ng-icon name="ionBook" size="20" class="external-icon">{{ 'header.recipes' | t }}</ng-icon>
        <span>{{ 'header.recipes' | t }}</span>
    </a>

    <a mat-list-item routerLink="/add">
        <ng-icon name="ionAddCircle" size="20" class="external-icon">{{ 'header.addRecipe' | t }}</ng-icon>
        <span>{{ 'header.addRecipe' | t }}</span>
    </a>

    <a mat-list-item routerLink="/plan">
        <ng-icon name="ionAnalytics" size="20" class="external-icon">{{ 'header.generatePlan' | t }}</ng-icon>
        <span>{{ 'header.generatePlan' | t }}</span>
    </a>

    <a mat-list-item routerLink="/suggest">
        <ng-icon name="ionReceipt" size="20" class="external-icon">{{ 'header.suggestRecipe' | t }}</ng-icon>
        <span>{{ 'header.suggestRecipe' | t }}</span>
    </a>

</mat-nav-list>
