<div class="search-wrap container">
  <div class="search-row card">
    <mat-icon class="search-icon">search</mat-icon>
    <input
      class="search-input"
      type="text"
      placeholder="Search recipes or ingredients..."
      [(ngModel)]="term"
      (ngModelChange)="emitSearch()"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of autocompleteOptions" [value]="option">
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </div>

  <div class="filters-row">
    <span class="filter-label">Filter by tags</span>
    <div class="chips-row">
      <mat-chip-set class="tags">
        <mat-chip
          *ngFor="let tag of availableTags"
          [class.selected]="isSelected(tag.name)"
          (click)="toggleTag(tag.name)"
        >
          {{ tag.name }}
        </mat-chip>
      </mat-chip-set>
    </div>
  </div>

  <div class="active-tags" *ngIf="selectedTags.length">
    <mat-chip
      *ngFor="let tag of selectedTags"
      selected
      removable
      (removed)="removeTag(tag)">
      {{ tag }}
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
  </div>
</div>
