django
gunicorn
psycopg2-binary
python-decouple
Pillow
djangorestframework
djangorestframework-simplejwt
cryptography
celery
redis
boto3
django-storages
recipe-scrapers
ingredient-parser-nlp
django-cors-headers
youtube-transcript-api
yt-dlp
ollama
json5
ffmpeg-python
vosk
pandas
