<section class="recipes-container container">
  <app-search-bar
    [availableTags]="allTags.length ? allTags : derivedTags"
    [recipeTitles]="recipeTitles"
    (search)="handleSearch($event)">
  </app-search-bar>

  <div class="count-row" *ngIf="recipes.length">
    {{ filteredRecipes.length }} recipes
  </div>

  <div class="recipe-grid">
    <a class="recipe-card card" *ngFor="let recipe of filteredRecipes" [routerLink]="['/recipes', recipe.id]">
      <div class="media">
        <img [src]="recipe.image || placeholderImage" alt="{{ recipe.title }}" />
      </div>
      <div class="content">
        <h3 class="title">{{ recipe.title }}</h3>
        <div class="meta">
          <span *ngIf="recipe.cook_time">
            <mat-icon>timer</mat-icon> {{ minutes(recipe.cook_time) }} min
          </span>
          <span *ngIf="recipe.servings">
            <mat-icon>group</mat-icon> {{ recipe.servings }} servings
          </span>
        </div>
        <div class="tags" *ngIf="recipe.tags?.length">
          <span class="chip" *ngFor="let tag of recipe.tags">{{ tag }}</span>
        </div>
      </div>
    </a>
  </div>

  <div #anchor class="loading-anchor"></div>
</section>
